Mahnschreiben_Generator.json
{
  "name": "Mahnschreiben_Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mahnschreiben",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "631ff285-bcd2-467d-9a6b-5a2cceb96eff",
      "name": "Webhook",
      "webhookId": "6f272e46-fa38-480a-908e-4b1ba2c678aa"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Normalize').first().json;\n\nconst vars = {\n  debtor_name:   d.debtor_name,\n  creditor_name: d.creditor_name,\n  amount:        d.amount,\n  invoice_date:  d.invoice_date,\n  due_date:      d.due_date,\n  deadline_date: d.deadline_date,\n};\n\nconst modules = {\n  INTRODUCTION:\n`Sehr geehrte Damen und Herren,\n\nwir erlauben uns, Sie höflich auf eine noch offene Zahlung aufmerksam zu machen.`,\n\n  INVOICE_REFERENCE:\n`Unsere Rechnung vom {{invoice_date}} über den Betrag von {{amount}} war gemäß unseren Zahlungsbedingungen bis zum {{due_date}} zur Zahlung fällig. Bis heute konnten wir leider keinen entsprechenden Zahlungseingang verzeichnen.`,\n\n  DEFAULT_NOTICE_SOFT:\n`Möglicherweise hat diese Rechnung Ihre Aufmerksamkeit bislang nicht erreicht. Wir bitten Sie, den ausstehenden Betrag umgehend auf unser Konto zu überweisen.`,\n\n  DEFAULT_NOTICE_STRONG:\n`Trotz unserer bereits erfolgten Zahlungserinnerung ist der genannte Betrag bis heute nicht auf unserem Konto eingegangen. Wir müssen Sie daher ausdrücklich mahnen und fordern Sie auf, den Rückstand unverzüglich auszugleichen.`,\n\n  FINAL_DEADLINE:\n`Wir setzen Ihnen hiermit eine letzte Zahlungsfrist bis zum {{deadline_date}}. Sollte der Betrag bis zu diesem Datum nicht vollständig eingegangen sein, werden wir weitere Maßnahmen einleiten.`,\n\n  INTEREST_NOTICE:\n`Wir weisen darauf hin, dass gemäß § 288 BGB ab dem Zeitpunkt des Zahlungsverzugs Verzugszinsen in Höhe von 9 Prozentpunkten über dem jeweiligen Basiszinssatz anfallen.`,\n\n  LEGAL_ACTION_NOTICE:\n`Sollte eine Zahlung bis zum genannten Termin ausbleiben, werden wir die Angelegenheit ohne weitere Ankündigung einem Rechtsanwalt übergeben und gerichtliche Schritte einleiten.`,\n\n  CLOSING:\n`Wir gehen davon aus, dass es sich um ein Versehen handelt, und sind überzeugt, dass Sie die Angelegenheit umgehend klären werden. Für Rückfragen stehen wir Ihnen jederzeit gerne zur Verfügung.\n\nMit freundlichen Grüßen\n\n{{creditor_name}}`,\n};\n\nfunction fill(text) {\n  return text.replace(/\\{\\{(\\w+)\\}\\}/g, (_, key) => vars[key] ?? `[${key} MISSING]`);\n}\n\nconst selected = [];\n\nselected.push(fill(modules.INTRODUCTION));\nselected.push(fill(modules.INVOICE_REFERENCE));\n\nif (d.prior_reminder_sent === true) {\n  selected.push(fill(modules.DEFAULT_NOTICE_STRONG));\n} else {\n  selected.push(fill(modules.DEFAULT_NOTICE_SOFT));\n}\n\nif (d.add_final_deadline === true) {\n  selected.push(fill(modules.FINAL_DEADLINE));\n}\n\nif (d.mention_default_interest === true) {\n  selected.push(fill(modules.INTEREST_NOTICE));\n}\n\nif (d.mention_legal_action === true) {\n  selected.push(fill(modules.LEGAL_ACTION_NOTICE));\n}\n\nselected.push(fill(modules.CLOSING));\n\nconst draft = selected.join('\\n\\n');\n\nreturn [{ json: { draft, blocks_included: selected.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "id": "d11dc068-4405-4cef-a045-7bf54935fd6c",
      "name": "Assemble Letter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7200257e-3755-44f8-a288-c86944a1a9ff",
              "name": "debtor_name",
              "value": "={{ $json.body.debtor_name }}",
              "type": "string"
            },
            {
              "id": "0992dd2f-cbbd-47e8-833c-80407e39e3ce",
              "name": "creditor_name",
              "value": "={{ $json.body.creditor_name }}",
              "type": "string"
            },
            {
              "id": "9a75e954-cb6f-4be4-9641-152df86094f6",
              "name": "amount",
              "value": "={{ $json.body.amount }}",
              "type": "string"
            },
            {
              "id": "0b85cb9d-0fe6-4d5b-9ca3-eff2488290a6",
              "name": "invoice_date",
              "value": "={{ $json.body.invoice_date }}",
              "type": "string"
            },
            {
              "id": "6c4a4ae9-9447-469a-8538-38ef0f74278c",
              "name": "due_date",
              "value": "={{ $json.body.due_date }}",
              "type": "string"
            },
            {
              "id": "bde12707-b7fa-4019-82ce-fc5059b426db",
              "name": "deadline_date",
              "value": "={{ $json.body.deadline_date }}",
              "type": "string"
            },
            {
              "id": "61db00a2-c25f-4efe-803f-1b0a36d80df7",
              "name": "prior_reminder_sent",
              "value": "={{ $json.body.prior_reminder_sent }}",
              "type": "string"
            },
            {
              "id": "0736421c-1db9-4abc-9862-8b4c749b6501",
              "name": "add_final_deadline",
              "value": "={{ $json.body.add_final_deadline }}",
              "type": "string"
            },
            {
              "id": "107030a0-ab49-4d97-b6f9-333cad62c089",
              "name": "mention_legal_action",
              "value": "={{ $json.body.mention_legal_action }}",
              "type": "string"
            },
            {
              "id": "24a51c48-d4ae-41c3-b744-d35c51fa2978",
              "name": "mention_default_interest",
              "value": "={{ $json.body.mention_default_interest }}",
              "type": "string"
            },
            {
              "id": "3ab9f999-504f-4bab-b52a-eec158651b86",
              "name": "mention_legal_action",
              "value": "={{ $json.body.mention_legal_action }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        0
      ],
      "id": "6e542eca-14a7-4c0e-aa90-c2a14fb833bf",
      "name": "Normalize"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        0
      ],
      "id": "5f14bade-36e5-4097-b18a-aae1800fa899",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Assemble Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Letter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "57935a97-f002-43c9-a6c4-38e61cfa9050",
  "meta": {
    "instanceId": "a22da2310a02e504e1e62785813935b7a2a76cd62f1c8287ae9b6bd2470c02c5"
  },
  "id": "hHlJV68X4KPFMeHa",
  "tags": []
}